<% cache(datatable) do %>
  <div>
    <h2>Data Excerpt</h2>
    <div>
      <table class='data-excerpt'>
        <tr>
          <% fieldlist = [] %>
          <% datatable.data_preview.fields.each do |field| %>
            <th>
              <%= field %>
              <% fieldlist << field %>
            </th>
          <% end %>
        </tr>
        <% datatable.data_preview.each do  |row| %>
          <tr class="<%= cycle('even','odd') -%>">
            <% fieldlist.each do |key| %>
              <td align='right'>
                <%= row[key] %>
              </td>
            <% end %>
          </tr>
        <% end -%>
        <% datatable.data_preview.clear -%>
      </table>
    </div>
  </div>
<% end %>
