<div id='protocols'>
<% if datatable.protocols_with_backup -%>
<table class='protocols-table'>
  <tr>
    <th>Protocols</th>
  </tr>
  <% datatable.protocols_with_backup.each do |protocol| %>
    <tr>
      <td><%=link_to truncate(protocol.title,:length=>40).html_safe, protocol_path(protocol)%></td>
    </tr>
  <% end %>
</table>
<% end -%>
</div>
