<div id='search-form'>
  <%= form_tag('/datatables/search') do %>

      <div id='bottom-line-search'>
        <div id='keyword-search'>
          <%= text_field_tag :keyword_list, @keyword_list || @default_value , {:id => 'keyworder', placeholder: "Search for core areas, keywords, people, or doi's"} %>
        </div>
        <div id='search-submit'>
          <%= submit_tag "Search Data Tables" %>
        </div>
      </div>
  <% end %>
</div>
