<div id='search-form'>
  <%= form_tag('/datatables/search') do %>
  
      <div id='bottom-line-search'>

        <div id='keyword-search'>
          <%= text_field_tag :keyword_list, @keyword_list || @default_value , {:id => 'keyworder'}  %>
        </div>  
        <div id='search-submit'>
          <%= submit_tag "Search Datacatalog"%>
        </div>
      </div> 
  <% end %>
</div>
