<li><%= theme.name.capitalize %>
  <ul>
    <% theme.datatables.each do |datatable| -%>
    <% next unless datatable.dataset.studies.include?(study) -%>
    <% next unless @datatables.include?(datatable) -%>
    <li>
      <%= link_to datatable.title, datatable_path(datatable) %>
    </li>
    <% end -%>
    
  <% theme.children.each do |t| -%>
  <% next unless t.datatables?(study) -%>

  <% next unless t.include_datatables_from_study?(@datatables, study) -%>
  
  <li>
    <ul>
    <%= render :partial => 'theme',  :locals => {:theme => t, :study => study}%>
    </ul>
  <% end -%>

  </ul>
</li>