<li><%= theme.name %>
<ul>
  <% if theme.descendants.size > 0 -%>
    <ul>
    <%= render :partial => 'theme', :collection => theme.descendants, :locals => {:study => study}%>
    </ul>
  <% end -%>
  <% theme.datatables.each do |datatable| -%>
  <% next unless datatable.dataset.studies.include?(study) -%>
  <li>
    <%= datatable.name %>
  </li>
  <% end -%>
</ul>
</li>