<li><%= theme.name %>
  <ul>
    <% datatables = theme.datatables_in_study(study, @datatables) -%>
    <% datatables.sort! {|a,b| sprintf("%.5i",a.weight) + a.title <=> sprintf("%.5i",b.weight) + b.title}%>
    <% datatables.each do |datatable| -%>
    <li>
      <%= link_to datatable.title_and_years, datatable_path(datatable) %>
      <% if logged_in? %>
        <span class='updated_at'>
         <%= datatable.updated_at.to_date if datatable.updated_at %> 
         </span>
      <% end %>
    </li>
    <% end -%>
    
  <% theme.children.each do |t| -%>

  <% next unless t.include_datatables_from_study?(@datatables, study) -%>
  
  <%= render :partial => 'theme',  :locals => {:theme => t, :study => study}%>

  <% end -%>

  </ul>
</li>