<li><%= theme.name if theme.has_datatables?(study)%>
<ul>
  <% if theme.children.size > 0 -%>
    <ul>
    <%= render :partial => 'theme', :collection => theme.children, :locals => {:study => study}%>
    </ul>
  <% end -%>
  <% theme.datatables.each do |datatable| -%>
  <% next unless datatable.dataset.studies.include?(study) -%>
  <li>
    <%= link_to datatable.name, datatable_path(datatable) %>
  </li>
  <% end -%>
</ul>
</li>