<li><%= theme.name%>
  <ul>
  <% theme.children.each do |t| -%>
  <% next unless t.datatables?(study)%>
  <li><%=t.name %>
    <ul>
    <%= render :partial => 'theme',  :locals => {:theme => t, :study => study}%>
    </ul>
  <% end -%>
  <% theme.datatables.each do |datatable| -%>
  <% next unless datatable.dataset.studies.include?(study) -%>
  <li>
    <%= link_to datatable.title, datatable_path(datatable) %>
  </li>
  <% end -%>
  </ul>
</li>