<h1>Editing datatable</h1>

<%= error_messages_for :datatable %>

<% form_for(:datatable, :url => datatable_path(@datatable), :html => { :method => :put }) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', datatable_path(@datatable) %> |
<%= link_to 'Back', datatables_path %>