<h1>datatables</h1>

<ul class='quickTree'>
  <% @studies.each do |study| -%>
  <li class='study_title'><%= study.name %>
  <ul class=>
    <% @themes.each do |theme| %>
    <% next unless theme.datatables?(study)%>
    <li><%= theme.name %>
        <ul>
        <% theme.children.each do |t| -%>
        <% next unless t.datatables?(study)%>

        <%= render :partial=>'theme', :locals => {:theme => t, :study => study} %>
        <% end -%>
      </ul>
    </li>
    <% end -%>
  </ul>
  </li>
  <% end -%>
</ul>
