<li class='citation'>
<%=raw citation.formatted %>
<% unless citation.abstract.try(:empty?) %> 
<%= link_to 'abstract', citation_url(citation) %>
<% end %>
<% if citation.pdf.exists? %>
  <%= link_to 'pdf', citation.pdf.url %>
<% end %>
<% if signed_in? and current_user.role == 'admin' %>
  <%= link_to 'Delete', citation_path(@citation), :method => 'delete', 
                        :confirm => 'Are you sure?' %>
<% end %> 
</li>
