<li class='citation'>
<%=raw citation.formatted %>
<% unless citation.abstract.try(:empty?) %> 
<%= link_to 'abstract', citation_url(citation) %>
<% end %>
<% if citation.pdf.exists? %>
  <%= link_to 'pdf', citation.pdf.url %>
<% end %>
</li>
