<li class='citation'>
    <% unless year.nil? %>
      <% if citation.pub_year.to_i != year  -%>
          <div class='pub_year'><%= citation.pub_year %></div>
      <% end %>
    <% end %>
    <p>
    <%=raw citation.formatted %>
    </p>
  <%= link_to 'abstract', citation_url(citation) %>
  <% if citation.pdf.exists? %>
    <%= link_to 'pdf', download_citation_url(citation), :class=>'member-only'%>
  <% end %>
</li>
