<div id='search-form'>
  <%= form_tag search_citations_path, :method => 'get', :class=>'searchform'%>
    <%= text_field_tag :q, word, :size => 80 %>
    <%= submit_tag "Search all citations" %>
</div>
