<% content_for :head do %>
  <title>KBS LTER Publications</title>
<% end %>
<h1>KBS LTER Publications</h1>
<p>
  Publications associated with KBS LTER. Click on the pdf link to get open access papers
  or to <%= link_to 'sign-in', new_user_session_path %> (free and immediate) to get other papers. Click on the data link to get
  formally published datasets (other datasets available as noted within the publications).
  Other ways to view KBS LTER publications can be accessed by the Research | Publications menu above.
</p>

<p>
  Publications are also available on our <a href="https://scholar.google.com/citations?hl=en&pli=1&authuser=1&user=spQ2BPwAAAAJ">Google Scholar</a> page
</p>

<%= render 'search_form', word: @word, type: @type, sort_by: @sort_by %>

  <%= render partial: 'index' %>
