<% content_for :head do %>
  <title>Published Datasets</title>
<% end %>
<h1>KBS LTER Datasets</h1>

<p>
  Published datasets associated with KBS LTER publications.
  Other datasets are available from the <a href='/datatables'>KBS LTER Data Catalog</a> as noted within publications.
  For published papers associated with datasets <a href='/citations'>click here</a>
</p>

<%= render partial: 'index' %>
