<%= render 'shared/breadcrumbs', :crumbs => [{:name => controller_name.upcase}] %>
<h1>Publications by Experiment</h1>
<div>
<p>
  Publications from different KBS LTER experiments, field sites, and MCSE treatments is available by clicking on the experiment or treatment name below
</p>
</div>
<ul>
  <% @studies.each do |study| -%>
    <% citation_treatments = study.treatments.where(use_in_citations: true).select(:id) %>
    <% next unless Citation.from_website(1).by_treatments(citation_treatments).size > 0 -%>
    <li class='top-level'>
    <% if study.citation_treatments? %>
        <%= study.name %>
        <ul>
          <% study.citation_treatments.each  do |treatment| -%>
            <% next unless treatment.citations.size > 0 -%>
            <li>
              <%= link_to "#{treatment.name} #{treatment.description}", {:action => :index, :treatment => treatment} %>
            </li>
          <% end -%>
        </ul>
      <% else -%>
          <%= link_to study.name,  {:action => :index, :treatment => study.treatments.by_use_in_citations.first} %>
      <% end -%>
    </li>
  <% end -%>
</ul>
