<%= render 'shared/breadcrumbs', :crumbs => [{:name => controller_name.upcase}] %>
<p>To download copies of listed articles you must first
  <%= link_to_unless signed_in?, 'sign-in', new_user_session_path %>
</p>
<%= render 'search_form', word: @word, type: @type, sort_by: @sort_by %>
<% cache :action=>'index',:action_suffix => @cache_key do %>
<h1 class='publication-section'>Published (alphabetical)</h1>
<ul>
<% @citations.each do |citation| %>
  <%= render 'citation', citation: citation, year: nil%>
<% end %>
</ul>
<% end %>
