<ul>
<% @citations.each do |citation| %>
  <li class='citation'>
    <%= formatted_as_default(citation) %>
    <%= link_to 'abstract', citation_url(citation)%>
    <% if citation.pdf.url %>
      <%= link_to 'pdf', citation.pdf.url %>
    <% end %>
  </li>
<% end %>
</ul>