<%=cache do %>
<h1 class='publication-section'>Submitted</h2>
<p class='synopsis indent'>Papers still in review; contact the first author for further information.</p>
<ul>
  <% @submitted_citations.each do |citation| %>
    <%= render :partial => 'citation', :locals => {:citation=>citation} %>
  <% end %>
</ul>
<h1 class='publication-section'>Forthcoming</h2>
<p class='synopsis indent'>Papers accepted but not yet published.</p>
<ul>
  <% @forthcoming_citations.each do |citation| %>
    <%= render :partial => 'citation', :locals => {:citation=>citation} %>
  <% end %>
</ul>
<h1 class='publication-section'>Published (alphabetical by year)</h2>
<ul>
<% @citations.each do |citation| %>
    <%= render :partial => 'citation', :locals => {:citation=>citation} %>
<% end %>
</ul>
<% end %>
