<p>
<%= render 'search_form', :word => @word, :type => @type, :sort_by => @sort_by %>
</p>
<p>To download copies of listed articles you must first
  <%= link_to_unless signed_in?, 'sign-in', sign_in_path %>
</p>
<h1>Search Results for <%= @word %>: </h1>
<ul>
  <%= render :partial => 'citation', :collection => @citations, :locals => {:year => nil} %>
</ul>
