db/meta_*
.yardoc
db/*.sqlite3
db/sphinx
log/
doc/*.dot
doc/*
metadata.sql
public/datatables
public/*.html
.DStore
.DS_Store
tmp/
config/database.yml
config/s3.yml
config/newrelic.yml
rcov/
nbproject/
config/development.sphinx.conf
assets/
coverage/
.bundle
*.swp
lib/tasks/move_to_s3.rake
*.komodoproject
coffeescripts/
