db/meta_test
.yardoc
db/*.sqlite3
db/sphinx
log/
doc/*.dot
doc/*
vendor/rails/
vendor/plugins/rspec/.git/
vendor/plugins/rspec-rails/.git/
metadata.sql
base_packaged.css
public/javascripts/base_packaged.js
public/datatables
public/*.html
.DStore
.DS_Store
tmp/
config/database.yml
config/newrelic.yml
rcov/
nbproject/
config/development.sphinx.conf
assets/
coverage/
Gemfile.lock
.bundle
