<div class='score'>
  <div class='one-half first'>
    <h2 class='title'>
      <%= link_to "#{score.study.try(:name)} : #{raw(score.title)}", datatable_path(score) %>
    </h2>
  </div>
  <div class='score-data' data-scores= <%= score.scores %>></div>
<div class='clear-line'></div>
</div>
