<div>
  <h2><%= link_to score.title, datatable_path(score) %></h2> <%= score.completed %>
  <div class='score-data' data-scores= <%= ScoreCard.new.score(score).to_json %>></div>
  <p>
  <%=raw score.description %>
  </p>
</div>
