<div class='score'>
  <h2 class='title'><%= link_to score.title, datatable_path(score) %></h2> 
  <div>
  <%=raw score.description %>
  <%= score.completed %>
</div>
  <div class='score-data' data-scores= <%= score.scores %>></div>
</div>
