<li><%= link_to "#{person.full_name}", person_path(person) %>
  <% if signed_in? %>
    <%= link_to 'Edit', edit_person_path(person), {:class => 'edit'} %>
    <%= link_to image_tag("trash.gif"),
                :url => person_path(person),
                :method => 'delete',
                :confirm => 'Are you sure?',
                :remote => true %>
  <% end %>
</li>
