<p>categorical <%= link_to 'alphabetical', {:action => :alphabetical} %></p>

<% @roles.each do |role| -%>
  <h2><%= role.name %></h2>
  <ul class='multicolumn'>
    <%= render role.people.to_a.sort {|a,b| a.sur_name <=> b.sur_name} %>
  </ul>
<% end %>

<br />

<%= link_to 'Current...', {:action => 'index' } %>
