<h1>Listing variates</h1>

<table>
  <tr>
  </tr>

<% for variate in @variates %>
  <tr>
    <td><%= link_to 'Show', variate_path(variate) %></td>
    <td><%= link_to 'Edit', edit_variate_path(variate) %></td>
    <td><%= link_to 'Destroy', variate_path(variate), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New variate', new_variate_path %>
