<h1>New variate</h1>

<%= error_messages_for :variate %>

<% form_for(:variate, :url => variates_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', variates_path %>