<h1>New methocol</h1>

<%= error_messages_for :methocol %>

<% form_for(:methocol, :url => methocols_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', methocols_path %>