<h2>Publications by Experiment</h2>
<p>Please click on an experiment or treatment name to list LTER articles that  have reported results from that site.</p>
<ul>
  <% @studies.each do |study| -%>
    <li class='top-level'>
      <% if study.treatments.size > 1 %>
        <%= study.name %>
        <ul>
          <% study.treatments.each  do |treatment| -%>
            <li>
              <%= link_to "#{treatment.name} #{treatment.description}", {:action => :index, :treatment => treatment} %>
            </li>
          <% end -%>
        </ul>
      <% else -%>
        <%= link_to study.name,  {:action => :index, :treatment => study.treatments[0]} %>
      <% end -%>
    </li>
  <% end -%>
</ul>