<h1>New publications</h1>

<%= error_messages_for :publications %>

<% form_for(:publications, :url => publications_path) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', publications_path %>