<p class='citation'>
	<%= @publication.citation %>
</p>
<div class='abstract'>
	<%= textilize(@publication.abstract) %>
</div>

<% if @publication.treatments.size > 0 -%>
<p>
Treatments used:
	<% @publication.treatments.each do |treatment| -%>
	<%= treatment.name %>&nbsp;
	<% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_publication_path(@publication) if logged_in? %> | 
<%= link_to 'Back', publications_path %>