
<div id='theme_list'>
  <ul id='theme_tree'>
    <%= render @theme_roots %>
  </ul>
</div>

<%= form_for(:theme, :url => themes_path) do |f| %>
  <p>
    <label for='theme_name'>Theme Name</label>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
