<%= form.inputs :dataset, :title, :abstract, :website, :sponsor, :status, :initiated, :completed, :core_dataset, :keyword_list %>

<div id = 'affiliations'>
    <%= form.inputs :for => :affiliations do |f| %>
      <%= render :partial => 'affiliation_fields', :locals => {:f => f} %>
    <% end %>
</div>
<%= link_to_add_fields "Add Person", form, :affiliations %>
