.hidden {
	visibility: hidden;
	height: 0px;;
}
.bulleted {
	list-style-type: circle;
	text-indent: 1em;
	list-style-position: inside;
	
}
#searchform input {
	margin-right:0.05em;
	color:#CCCCCC;
}

#content h1 {
	font-size: 1.2em;
	font-weight: bold;
	color: #006633;
}

#content h2 {
	font-size: 1em;
	font-weight: bold;
	color: #006633;
	clear: both;
	padding-top: 1em;
	margin-bottom: 0px;
}

#content ul label {
	display: inline;
	font-weight: bold;
}

.person-name {
	color: #006633;
	font-size: 1.4em;
	margin-bottom: 0.2em;
}

.even {
	background-color: #f8ffd6;
}

.citation p {
	display: inline;
}

.top-level {
	margin-bottom: 0.4em;
}

.citation {
	margin-bottom: 1em;
}

label {
	display: block;
}

#content ul.multicolumn {
	margin: 0.1em;
	-moz-column-width: 17em;
	-webkit-column-width: 17em;
}

#content .twocolumn {
	-moz-column-width: 20em;
	-webkit-column-width: 20em;
}

li ul li {
	padding-left: 1.5em;
	margin-bottom: 0.1em;
}
#content .edit {
	font-size: 90%;
}
a.edit:link{
	color: #7f7f7f;
}

a.edit:visited {
	color: #bfbfbf;
}

a.edit:hover {
	text-decoration: underline;
}

#bottomlinks a:hover {
	text-decoration: underline;
	background-color: #CCFFFF;
}

#bottomlinks {
	margin-top:.5em;
	font-family:sans-serif;
	font-size: 80%;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	text-align: center;
}
#bottomlinks a {
	color: #006633;
	font-size: 80%;
}

#copyright {
	font-family: Times New Roman, Times, serif;
	font-size: 10px;
	width: 700px;
}

/*#content  ul li {
	float: left;
	width: 10em;
}
*/

.no-data {
	color: #939393;
}

.person {
	margin-top: 1em;
}

.select-box {
	width: 200px;
}

#search-form {
	padding: 10px;
	background-color: #dedede;
	-moz-border-radius:10px;
  -webkit-border-radius:10px;
	
}

.person-email {
	padding-top: 0.5em;
}

#core-area-search {
	float:left
}

#core-area-search label {
	padding-right: 5px;
}


#contributor-search {
	float: left;
}

#contributor-search label {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

#top-line-search {
	height: 5em;
}


#experiment-search {
	float:left
}

#experiment-search label {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

#bottom-line-search {
	display:inline;
}

.year-search {
	float: left;
}

.year-search label {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

#keyword-search {
	display: inline;
}

#content a.download-link {
	padding: 10px;
	margin-top: 20px;
	margin-bottom:40px;
	-moz-border-radius:10px;
  -webkit-border-radius:10px;
	border-style: outset;
}

#content a.download-link:hover {
	text-decoration: none;
	border-style: inset;
}

li.study-index p {
	font-weight: normal;
	font-size: 0.7em;
	margin-left: 4em;
}

li.study-title {
	background-color: white;
	font-size: 1.2em;
	font-weight: bold;
	
	margin: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
li.study-title p {
	font-weight: normal;
	font-size: 0.7em;
	margin-left: 4em;
}
li.study-title ul {
	font-weight: normal;
	background-color: white;
	position: relative;
	left: 1px;
	margin-right: 1px;
}
li.study_title li {
	padding-top: 3px;
}

.quickTree {
	border-top-style: solid;
}

tree * {margin:0; padding:0;}
.tree li {list-style:none; padding-left:21px;}
.tree li.root {padding-left:0;}
.tree li li { no-repeat 17px center; margin-left:10px; padding-left:31px;}
.tree li li.root {padding-left:10px; }
.tree li li.root.last {background:none; }
.tree li li.last {}
.expand {background:url(/metadata_images/plus_minus.png) no-repeat; width:16px; height:12px; display:block; float:left; margin-top:0px; padding:0 10px 0 0; text-indent:-9999px; line-height:0; font-size:0;}
.contract {background-position:0 -16px;}
.expand:hover {cursor:pointer;}