.bulleted {
	list-style-type: circle;
	text-indent: 1em;
	list-style-position: inside;
	
}
#searchform input {
	margin-right:0.05em;
	color:#CCCCCC;
}
#content h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #006633;
}

#content h1 {
	font-size: 1.2em;
	font-weight: bold;
	color: #006633;
}

#content h2 {
	font-size: 1em;
	font-weight: bold;
	color: #006633;
	clear: both;
	padding-top: 1em;
	margin-bottom: 0px;
}

#content ul label {
	display: inline;
	font-weight: bold;
}

.person_name {
	color: #006633;
	font-size: 1.4em;
	margin-bottom: 0.2em;
}

.even {
	background-color: #f8ffd6;
}

.citation p {
	display: inline;
}

.top_level {
	margin-bottom: 0.4em;
}

.citation {
	margin-bottom: 1en;
}

label {
	display: block;
}

#content ul.multicolumn {
	margin: 0.1em;
	-moz-column-width: 17em;
	-webkit-column-width: 17em;
}

#content .twocolumn {
	-moz-column-width: 20em;
	-webkit-column-width: 20em;
}

li ul li {
	padding-left: 1.5em;
	margin-bottom: 0.1em;
}
#content .edit {
	font-size: 90%;
}
a:link.edit{
	color: #7f7f7f;
}

a:visited.edit {
	color: #bfbfbf;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
a:hover.edit {
	text-decoration: underline;
}

#bottomlinks a:hover {
	text-decoration: underline;
	background-color: #CCFFFF;
}

#bottomlinks {
	margin-top:.5em;
	font-family:sans-serif;
	font-size: 80%;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	text-align: center;
}
#bottomlinks a {
	color: #006633;
	font-size: 80%;
}

#copyright {
	font-family: Times New Roman, Times, serif;
	font-size: 10px;
	width: 700px;
}

/*#content  ul li {
	float: left;
	width: 10em;
}
*/

.core_dataset {
	background: url(../images/core.png) no-repeat right top;
}

.no_data {
	color: #939393;
}

.person {
	margin-top: 1em;
}

.select_box {
	width: 200px;
}

#search_form {
	border-style: groove;
	padding: 10px;
	background-color: #e8e8e8;
}
