<li class='study-title' id='study_<%=study.id%>'><%= study.name %> 
  <% unless  study.synopsis == '' %>
  <p><%= study.synopsis%></p>
  <% end %>
<ul>
  <% @themes.each do |theme| %>
  <% next unless theme.include_datatables_from_study?(@datatables, study) -%>

  <%= render :partial=>'theme', :locals => {:theme => theme, :study => study} %>

  <% end -%>
</ul>
</li>