<div class='breadcrumb'>
<a href='/'>HOME</a>
<% last = crumbs.pop %>
<% crumbs.each do | crumb | -%>
 &gt; <%= link_to crumb[:name].upcase, crumb[:url] %>
<% end -%>
 &gt; <%= last[:name].upcase %>
</div>
