<div class='breadcrumb'>
<a href='/'>HOME</a>
<% last = crumbs.pop %>
<% crumbs.each do | crumb | -%>
  &gt;
  <% if crumb[:url] -%>
  <%= link_to raw(crumb[:name].upcase), crumb[:url] %>
<% else -%>
  <%= raw(crumb[:name].upcase) %>
<% end -%>
<% end -%>
 &gt; <%= raw(last[:name].upcase) %>
</div>
