<div class='breadcrumb'>
<a href='/'>HOME</a>
<% last = crumbs.pop %>
<% crumbs.each do | crumb | -%>
 &gt; <%= link_to raw(crumb[:name].upcase), crumb[:url] %>
<% end -%>
 &gt; <%= raw(last[:name].upcase) %>
</div>
