<% content_for :head do %>
  <title>KBS LTER Abstracts</title>
<% end %>
<h3>Meeting Abstracts</h3>

<ul class ="abstract_list">
  <% @abstracts.each do |abstract| %>
    <li>
      <%= link_to abstract.title, abstract %> by <%= abstract.authors %> &nbsp;
    </li>
  <% end %>
</ul>
