<h1>Listing affiliations</h1>

<table>
  <tr>
  </tr>
  
<% for affiliation in @affiliations %>
  <tr>
    <td><%= link_to 'Show', affiliation_path(affiliation) %></td>
    <td><%= link_to 'Edit', edit_affiliation_path(affiliation) %></td>
    <td><%= link_to 'Destroy', affiliation_path(affiliation), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New affiliation', new_affiliation_path %>