<h1>New affiliation</h1>

<%= error_messages_for 'affiliation' %>

<% semantic_form_for @affiliation do |form| %>
  <%= form.inputs %>
  <%= form.buttons %>
<% end %>

<%= link_to 'Back', affiliations_path %>