<h1>New affiliation</h1>

<%= error_messages_for :affiliation %>

<% form_for(:affiliation, :url => affiliations_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', affiliations_path %>