<div id='sortable-list'>
  <%= render 'study_list', :study_roots => @study_roots %>
</div>

<%= form_for(:study, :url => studies_path) do |f| %>
<text_field type='hidden' id='updatePath' value='study'>
  <p>
    <label for='study_name'>Theme Name</label>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
