
<div id='protocols'>
<h1 class='right'>Protocols</h1>
<ul>
  <% @protocols.each do |protocol|%>
  <li>
    <%=link_to protocol.title, protocol_path(protocol) %>
  </li>
  <% end %>
</ul>
</div>
<!-- <h1>Other Data</h1>

<h1>Data Queue</h1> -->