<% cache do %>
<% @themes.each do |theme| -%>
  <% next if theme.datatables? %>
	<h2><%= theme.name %></h2>
		<ul>
		<% theme.datasets.each do |dataset| -%>
		<% next unless dataset.on_web %>
		<% dataset.protocols.each do |protocol| -%>
		<li><%= link_to "#{protocol.name}, V#{protocol.version}", protocol_path(protocol) %> <%= protocol.title %></li>
		<% end -%>
		<% end -%>
		</ul>
<% end -%>

<br />

<%= link_to 'New protocol', new_protocol_path %>
<% end %>
