<h1>New protocol</h1>

<%= error_messages_for :protocol %>

<% form_for(:protocol, :url => protocols_path) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f}%>	
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', protocols_path %>