#inner.metadata {
  padding-top: 20px;
}

#inner.metadata.qc {
  background: none;
  background-color: white;
}

#metadata {
  padding-right: 10px;
}

.citations {
  padding-top: 3em;
}

.citation-footer {
  display: flex;
}

.citation-footer > .member-oly,
.citation-footer > .non-member {
  flex: 1;
}

.citation_count {
  align-self: end;
  flex: 6;
  text-align: right;
}

.ui-autocomplete {
  background: white;
  padding-bottom: 3em;
  width: 80%;
}

.ui-autocomplete > .ui-menu-item {
  list-style: none;
}

.metadata {
  .fa,
  .fab,
  .fad,
  .fal,
  .far,
  .fas {
    font-size: 6pt;
  }


  ul.person-card {
    list-style-type: none;
  }

  ul.multicolumn {
    column-width: 17em;
    margin: .1em;
  }

  .committee {
    margin-top: 12px;
    li {
      margin-left: 12px;
    }
  }

  h1 {
    padding-top: 1.2em;
  }

  css.hidden {
    visibility: hidden;
    height: 0px;
  }

  .core-areas {
    float: right;
    font-family: monospace;
    padding-right: 10px;
  }

  .bulleted {
    list-style-position: inside;
    list-style-type: circle;
    text-indent: 1em;
  }

  .citation-hint {
    margin: 10px;
  }

  .sign-up {
    display: none;
  }

  .member-only {
    display: none;
  }

  .highlight {
    font-weight: bold;
    margin-top: .9em;
    text-align: right;
  }

  h2 {
    clear: both;
    margin-bottom: 0;
    padding-top: 2em;
    padding-bottom: 0.67em;
    font-size: 16px;
  }

  h3 {
    padding-top: 1.2em;
    padding-bottom: 0;
    font-size: 14px;
  }

  h4 {
    margin-top: 14px;
  }

  .description {
    p {
      margin: 1em 0;
    }

    ol,
    ul {
      margin: 5px;
      padding-left: 3em;
    }
  }

  ul label {
    display: inline;
    font-weight: bold;
  }

  ul,
  li,
  ol {
    margin-left: 10px;
  }

  .even {
    background-color: #f8ffd6;
  }

  .citation p {
    display: inline;
  }

  .top-level {
    margin-bottom: .4em;
  }

  .citation {
    margin-bottom: 1em;
  }

  label {
    display: block;
  }

  .abstract_body ul {
    list-style-type: disc;
    margin-left: 2em;
  }

  .twocolumn {
    column-width: 20em;
  }

  ul.citations {
    list-style-type: none;
  }

  .pub-year {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1.4em;
    padding-right: 10px;
    text-align: right;
  }

  li ul li {
    margin-bottom: .1em;
    padding-left: 1.5em;
  }

  .edit {
    float: right;
    font-size: 90%;
  }

  a.edit:link {
    color: #7f7f7f;
  }

  a.edit:visited {
    color: #bfbfbf;
  }

  a.edit:hover {
    text-decoration: underline;
  }

  #network-databases h2 {
    font-size: small;
    margin-bottom: .5em;
  }

  .updated_at {
    font-size: .5em;
    margin-bottom: 3em;
    margin-top: 2em;
  }

  .no-data {
    color: #939393;
  }

  .person {
    margin-top: 1em;
  }

  .select-box {
    width: 200px;
  }

  #search-form {
    margin-bottom: 10px;
    padding-top: 36px;

    input {
      border: solid;
      border-width: 1px;
      font-size: 18px;
      margin-right: 10px;
      padding: 5px 5px 4px 5px;
    }
  }

  .person-email {
    padding-top: .5em;
  }

  #keyworder {
    width: 60%;
  }

  .default {
    color: Grey;
  }

  .expand_all {
    font-size: x-small;
  }

  #search-submit {
    display: inline;
    float: none;
    margin-left: 10px;
    text-align: right;
  }

  #keyword-search {
    display: inline;
  }

  a.download-link {
    border-radius: 10px;
    border-style: outset;
    display: block;
    font-size: medium;
    font-variant: small-caps;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }

  a.download-link:hover {
    border-style: inset;
    text-decoration: none;
  }

  li.study-index p {
    font-size: .7em;
    font-weight: normal;
    margin-left: 4em;
  }

  li.study-title {
    font-size: 14px;
    margin: 2px;
    padding: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-top: 1px;
  }

  .study-title > .expanded {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  li.study-title p {
    font-weight: normal;
    font-size: .7em;
    margin-left: 4em;
    margin-top: 0;
  }

  li.study-title ul {
    font-weight: normal;
    left: 1px;
    margin-right: 1px;
    position: relative;
  }

  li.study-title li {
    padding-top: 3px;
  }

  table.protocols-table {
    margin-top: 1.2em;
    width: 100%;
  }

  table.protocols-table tbody tr th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
  }

  table.variate-table {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 1.2em;
    width: 100%;
  }

  table.variate-table tbody tr th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
  }

  table.data-description {
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;

    ul {
      list-style-type: none;
    }
  }

  .data-description li {
    margin-left: 0;
  }

  .data-description tr td:first-child {
    font-weight: bold;
    vertical-align: top;
    width: 12em;
  }

  table.variate_table tbody tr th {
    text-align: left;
  }

  table.data-description tbody tr td ul {
    margin: 0;
  }

  div.collapsable {
    padding-bottom: 1em;
  }

  div.collapsable h2 {
    font-size: small;
    font-style: normal;
    font-weight: normal;
  }

  .space-after {
    padding-right: 2em;
  }

  .big {
    font-size: large;
  }

  #download {
    float: right;
    width: 50%;
  }

  #protocols {
    float: left;
    width: 300px;
  }

  .deprecation-warning {
    border-radius: 25px;
    background: black;
    padding: 20px;

    h1,
    a,
    p {
      color: white;
    }
  }

  // .tree * {margin:0; padding:0;}
  .tree a {
    text-decoration: none;
  }

  .tree li {
    list-style: none;
    padding-left: 21px;
  }

  .tree li.root {
    padding-left: 0;
  }

  .tree li li {
    background-repeat: no-repeat 17px center;
    margin-left: 10px;
    padding-left: 31px;
  }

  .tree li li.root {
    padding-left: 10px;
  }

  .expand {
    background: url('/assets/plus_minus.png') no-repeat;
    padding-left: 20px;
    text-indent: 16px;
  }

  .contract {
    background-position: 0 -16px;
  }

  .expand:hover {
    cursor: pointer;
  }
}
