#inner.metadata {
  padding-top: 20px;
}

#inner.metadata.qc {
  background: none;
  background-color: white;
}
#metadata {
  padding-right: 10px;
}

.citations {
  padding-top: 3em;
}

.metadata {
  .fa, .fab, .fad, .fal, .far, .fas  {
    font-size: 6pt;
  }
  ul.person-card {
    list-style-type: none;
  }

  ul.multicolumn {
    margin: .1em;
    -moz-column-width: 17em;
    -webkit-column-width: 17em;
  }

  .committee {
    margin-top: 12px;
    li {
      margin-left: 12px;
    }
  }

  h1 {
    padding-top: 1.2em;
  }

  css.hidden {
    visibility: hidden;
    height: 0px;
  }

  .core-areas {
    font-family: monospace;
    float: right;
    padding-right: 10px;
  }

  .bulleted {
    list-style-type: circle;
    text-indent: 1em;
    list-style-position: inside;
  }

  .citation-hint {
    margin: 10px;
  }

  .sign-up {
    display: none;
  }

  .member-only {
    display: none;
  }

  .highlight {
    margin-top: .9em;
    font-weight: bold;
    text-align: right;
  }

  h2 {
    clear: both;
    padding-top: 3em;
    margin-bottom: 0px;
  }

  h4 {
    margin-top: 14px;
  }

  .description {
    p {
      margin: 1em 0;
    }
    ol, ul {
      margin: 5px;
      padding-left: 3em;
    }
  }

  ul label {
    display: inline;
    font-weight: bold;
  }

  ul, li, ol {
    margin-left: 10px;
  }

  .even {
    background-color: #f8ffd6;
  }

  .citation p {
    display: inline;
  }

  .top-level {
    margin-bottom: .4em;
  }

  .citation {
    margin-bottom: 1em;
  }

  label {
    display: block;
  }

  .abstract_body ul {
    list-style-type: disc;
    margin-left: 2em;
  }

  .twocolumn {
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
  }

  ul.citations {
    list-style-type: none;
  }

  .pub-year {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1.4em;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-right: 10px;
  }

  li ul li {
    padding-left: 1.5em;
    margin-bottom: .1em;
  }

  .edit {
    float: right;
    font-size: 90%;
  }

  a.edit:link {
    color: #7f7f7f;
  }

  a.edit:visited {
    color: #bfbfbf;
  }

  a.edit:hover {
    text-decoration: underline;
  }

  #network-databases h2 {
    font-size: small;
    margin-bottom: 0.5em;
  }

  .updated_at {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .no-data {
    color: #939393;
  }

  .person {
    margin-top: 1em;
  }

  .select-box {
    width: 200px;
  }

  #search-form {
    padding-top: 36px;
    margin-bottom: 10px;

    input {
      padding: 5px 5px 4px 5px;
      margin-right: 10px;
      border: solid;
      border-width: 1px;
      font-size: 18px;
    }
  }

  .person-email {
    padding-top: .5em;
  }

  #keyworder {
    width: 60%;
  }

  .default {
    color: Grey;
  }

  .expand_all {
    font-size: x-small;
  }

  #search-submit {
    text-align: right;
    float: none;
    display: inline;
    margin-left: 10px;
  }

  #keyword-search {
    display: inline;
  }

  a.download-link {
    display: block;
    padding: 10px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: outset;
    font-variant: small-caps;
    text-align: center;
    font-size: medium;
  }

  a.download-link:hover {
    text-decoration: none;
    border-style: inset;
  }

  li.study-index p {
    font-weight: normal;
    font-size: .7em;
    margin-left: 4em;
  }

  li.study-title {
    margin: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding: 1px;
    font-size: 14px;
  }

  .study-title > .expanded {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  li.study-title p {
    font-weight: normal;
    font-size: .7em;
    margin-left: 4em;
    margin-top: 0;
  }

  li.study-title ul {
    font-weight: normal;
    position: relative;
    left: 1px;
    margin-right: 1px;
  }

  li.study-title li {
    padding-top: 3px;
  }

  table.protocols-table {
    margin-top: 1.2em;
    width: 100%;
  }

  table.protocols-table tbody tr th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
  }

  table.variate-table {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 1.2em;
    width: 100%;
  }

  table.variate-table tbody tr th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
  }

  table.data-description {
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;

    ul {
      list-style-type: none;
    }
  }

  .data-description tr td:first-child{
    width: 12em;
    font-weight: bold;
    vertical-align: top;
  }

  table.variate_table tbody tr th {
    text-align: left;
  }

  table.data-description tbody tr td ul {
    margin: 0;
  }

  div.collapsable {
    padding-bottom: 1em;
  }

  div.collapsable h2{
    font-size: small;
    font-style: normal;
    font-weight: normal;
  }

  .updated_at {
    font-size: .5em;
  }

  .space-after {
    padding-right: 2em;
  }

  .big {
    font-size: large;
  }

  #download {
    float: right;
    width: 50%;
  }

  #protocols {
    display: inline-block;
    float: left;
    width: 300px;
  }

  .deprecation-warning {
    border-radius: 25px;
    background: black;
    padding: 20px;
    h1, a, p { color: white; }
  }

  // .tree * {margin:0; padding:0;}
  .tree a { text-decoration: none;}
  .tree li {list-style:none; padding-left: 21px;}
  .tree li.root {padding-left: 0;}
  .tree li li { background-repeat: no-repeat 17px center; margin-left: 10px; padding-left: 31px;}
  .tree li li.root {padding-left: 10px; }
  // .tree li li.root.last {background:none; }
  .tree li li.last {}
  .expand {background:url('/metadata-assets/assets/plus_minus.png') no-repeat; padding-left: 20px; text-indent: 16px;}
  .contract {background-position: 0 -16px;}
  .expand:hover {cursor: pointer;}
}
