*[draggable=true] {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

.hovered {
  background-color: grey;
}

div.droppable {
  height: 4px;
}
