#data-timeline {
	height:550px;
	border: 1px solid #aaa;
}
li.scroll_checkboxes > fieldset > ol {
    height: 200px;
    overflow: auto;
    padding: 5px;
}

table.data-excerpt {
  border-spacing: 2px;
  border-collapse: separate;
}
p {
  margin: 0.5rem;
}
