.year {
  font-size: small;
  font-weight: bold;
}

#inner.score-cards {
    background: none;
  }

.score {
  background-color: rgb(240, 231, 231);
  margin-bottom: 12px;
  padding-left: 12px;

  h2 {
    a {
    font-size: 14px;
    font-weight: bold;
  }
  }
}
