<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>LTER: <%= controller.controller_name %>:<%= controller.action_name %></title>
	<%= stylesheet_link_tag 'kbs', 'data','navigation', 'branding',  :media=>'all' %>
	<%= stylesheet_link_tag 'print', :media => 'print' %>

	<%= javascript_include_tag :defaults %>
</head>
<body>
	<div id='wrapper'>
		<div id='branding'>
			<a id='msu_logo' href="http://www.msu.edu">
				<img alt="Michigan State University" src="/images/common/logo_msu_pos_122.gif"/>
			</a>
			<h1><%= @title %></h1>
			<div id="topcoloredbar">
				<div id='search'>
					<a href="/dynamic/people">People</a>

					<form action="http://www.google.com/u/ltersearch" method='get' id="searchform">
						<input type='text' name='q' maxlength='255' size='20' value="Search KBS LTER" onfocus="if(this.value==defaultValue) this.value=''" onblur="if(this.value=='') this.value=defaultValue" />
					</form>
				</div>
				<h2><a href='/'>The KBS LTER Site</a></h2>
			</div>

		</div>
		<div id='content'>
			<p style="color: green"><%= flash[:notice] %></p>
			<ul id=crumbs>
				<li><a href='/'>Home</a></li>

				<% @crumbs.each do |crumb| %>
				<li> > <%= link_to "#{crumb.name}", crumb.url  %></li>
				<% end %>

			</ul>
			<%= yield  %>
		</div>
		<div id='navigation'>
			<%= render :file => "../../public/system/navigation.html" %>
		</div>
		<div id='footer'>
			<%= render :file  => "../../public/system/footer.html"%>
		</div>
	</div>
</body>
</html>
